/* style.css */
/* Entire Document */
body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Header */
header {
  height: 150px;
  background-color: cadetblue;
}

header img {
  float: left;
  width: 236px;
}

header nav {
  width: 960px;
  margin: auto;
}

header ul{
  text-align: center;
}

header li {
  display: inline-block;
  background-color: salmon;
  color: black;
  margin-left: 90px;
  padding: 10px;
  border: 2px solid black;
}

nav li:hover {
  background-color: rgb(158, 100, 93);
}

nav li:nth-child(1){
  padding: none;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px 25px;
}

header p {
  text-align: right;
  padding: 5px;
  margin-top: 10px;
  margin-right: 20px;
  font-size: 18px;
  float: right;
}

header h1 {
  font-size: 55px;
  text-align: left;
  margin: 20px;
  display: inline-block;
}

body {
  background-color: bisque;
}

table {
  margin: auto;
}

th, td {
  padding: 10px;
  border: solid medium black;
}

 /* Main */
main{
  height: 650px;
}

main section {
  width: 960px;
  margin: auto;
  font-size: 12px;
}

main form {
  margin: auto;
  margin-top: 100px;
  background-color: salmon;
  padding: 5px;
  border: 2px solid black;
  text-align: center;
}

main legend {
  margin-bottom: 10px;
}

main input[type=number] {
  width: 40px;
}

main input {
  border: 2px solid salmon;
}

main span {
  display: block;
  text-align: center;
}

main img {
  margin-top: 50px;
  width: 400px;
}

main table {
  margin-top: 30px;
  background-color: cadetblue;
}

main ul {
  margin-top: 150px;
}

main li {
  margin-left: 16.5%;
  float: left;
  padding: 10px;
  text-align: center;
}

#fish {
  width: 200px;
}

#cutter {
  width: 200px;
}

#shirt {
  width: 200px;
}

 /* Footer */
footer {
  height: 100px;
  background-color: cadetblue;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

footer p {
  display: inline-block;
  padding-left: 40px;
  margin-top: 15px;
  font-size: 14px;
}

footer img {
  width: 200px;
  float: left;
}
